/* SPA 18.02.2015
Max Tsvetkov
*/
body { padding-top: 70px; }
.wrapper {
  width: 100%;
  min-height: 200px;
  margin: 0 auto;
  padding: 20px 0px;
  text-align: center;   
}
.box {
  float: left;
  width: 30%;
  margin-left: 5%;
  min-height: 50px;
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.wrapper div:first-child {
  margin-left: 0;
}
.lowValue {color: red;}
.midValue {color: black;}
.highValue {color: green;}
.clear {
  clear: both;
}

.slide.ng-leave {
  position: relative;
}
.slide.ng-enter {
  position: absolute;
}
.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.3s ease-in;
     -moz-transition: -moz-transform 0.3s ease-in, opacity 0.3s ease-in;
       -o-transition: -o-transform 0.3s ease-in, opacity 0.3s ease-in;
          transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.slide.ng-enter, .slide.ng-leave.ng-leave-active {
  -webkit-transform: scaleX(0.0001);
       -o-transform: scaleX(0.0001);
          transform: scaleX(0.0001);
  opacity: 0;
}
.slide, .slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

/*for iOS-devices use min-device-width*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
.wrapper {
  width: 600px;
  margin: 0 auto;
  padding: 40px 5%;
}
.box {
  width: 90%;
  float: none;
  min-height: 50px;
  margin: 0;
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}} 

